@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Nanum+Gothic+Coding&family=PT+Serif&family=Playfair+Display&family=Slabo+27px&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  h2,
  h4,
  h5,
  h6 {
    font-family: "Slabo 27px", serif;
  }

  header,
  p,
  span,
  button,
  li {
    font-family: "PT Serif", serif;
  }

  h1,
  h3 {
    font-family: "Playfair Display", serif;
  }
} */

@layer utilities {
  .clip {
    @apply clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
  }
  .correct-answer {
    @apply bounded-shake bg-green-200 shadow-inner text-green-700 font-semibold
  }
  .wrong-answer {
    @apply shake-button bg-red-200 shadow-inner text-red-700
  }
  .disable {
    @apply pointer-events-none 
  }
}

.red-background {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  
}

.black-background {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.yellow-background {
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

.green-background {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

.light-background {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.aqua-background {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-3px);
    }
    50% {
      transform: translateX(3px);
    }
    75% {
      transform: translateX(-3px);
    }
  }

  
  .shake-button {
    animation: shake 0.5s ease-in-out infinite;
  }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-4px);
      }
      60% {
        transform: translateY(-1px);
      }
  }
  
  .bounded-shake {
    animation: bounce 0.5s ease-in-out infinite;
  }
  
/* ==== Loading Spinner ====  */
.spinloader {
  color: #000;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.spinloader::after {
  content: "";
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  top: 16px;
  right: -9px;
  box-sizing: border-box;
  animation: animspinloader 1s linear infinite;
}

@keyframes animspinloader {
  0% {
    box-shadow: 10px 0 rgba(0, 0, 0, 0), 20px 0 rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 10px 0 black, 20px 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 10px 0 black, 20px 0 black;
  }
}
  